/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End Of Reset */
.container {
  height: 1000px;
  width: 1200px;
  border:1px solid blue;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;

}
.buttonbar {
  width: 150px;
  margin-left: 900px;
  margin-top: 50px
  /*border-bottom: 5px solid #4713da;*/
}
.gridbutton {
  /*float: right;*/
  position: relative;
  text-align: right;
  display: inline-block;
  color:#47a3da;
  border: none;
  background-color: white;
  text-decoration: none;
  outline: none;

}
.listbutton {
  /*float: right;*/
  position:relative;
  display: inline-block;
  color:#47a3da;
  border: none;
  background-color: white;
  outline: none;
}
/*.row1:before {
  position: relative;
  border-bottom: 2px solid #47a3da;


}*/
.bumper {
  margin-top: 25px;
  border-bottom: 2px solid #47a3da;
  width: 1050px;
}

button {
  border: none;
  background-color: white;
  outline: none;
}
.gridbutton {
  display: inline-block;
  float: right;
}
.listbutton{
  display: inline-block;
  float:right;
}
.bumper {
  margin-top: 150px;
}
.item {
    display: block;
    position: relative;
    height: 100px;
    border: 1px solid black;
    width: 1050px;
    margin-top: 30px;
}
img {
  float: left;
  display: inline-block;
  position: relative;
  height: 100px;
}

.item-description {
  display: inline-block;
  position: relative;
  color: #47a3da;
  width: 150px;
  margin-right: 12px;
  margin-top: 35px;
  /*border: 1px solid red;*/
  font-size: 20px;
}

.price {
  margin-left: 350px;
  /*border: 1px solid green;*/
  margin-top: -25px;
  margin-right: 850px;
  font-size: 20px;
  color: #c0c0c0;
  /*display: inline;*/

  /*display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  /*vertical-align: text-top;*/
  /*position: relative;*/
  /*margin-top: -1100px; */
  /*position: absolute;*/
  /*padding-left: 45px;*/
  /*margin-top: -50px;*/
  /*padding-top: -100px;*/

}
.description {
  /*display: inline-block;*/
  /*position: relative;*/
  /*position: absolute;*/
  margin-left: 500px;
  margin-top: -25px;
  /*border: 1px solid blue;*/
  max-width: 350px;
  color: #47a3da;
  /*max-height: 350px;*/
}
.addButton {
  color: white;
  /*display: inline-block;*/
  margin-left: 875px;
  margin-top: -32px;
  border: 1px solid #47a3da;
  border-radius: 5px;
  position: relative;
  /*margin-top: 25px;*/
  /*margin-top: -500px;*/
  padding: 8px 12px;
  background-color: #47a3da;
  width: 120px;

}
